doctype html
head
  script(src='/index.js')

  meta(charset='utf-8')
  title 412 Project
  style(type='text/css').
    body {
    width: 90%;
    margin: 0 auto;
    background-color: rgb(255,255,255);
    }
    #content {
    overflow: auto;
    }
    #nav, #feature, #footer {
    margin: 1%;
    }
    .column1, .column2, .column3{
    line-height: 0.8;
    border-style: none;
    text-align: center;
    float: left;
    margin: 0 1.5%;
    width: 30%;
    }
    .column3 {
    margin-right: 0%;
    }
    li{
    display: inline;
    padding: 0.5em;
    }
    #nav, #footer {
    border-style: none;
    justify-content: center;
    text-align: center;
    background-color: #e6e6e6;
    padding: 0.5em 0;
    }
    #feature, .article {
    line-height: 0.8;
    border-style: none;
    height: 20em;
    margin-bottom: 1em;
    background-color: #e6e6e6;
    }
    h1{
    font-family: Times, Times New Roman, serif;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.3em;
    color: rgb(0,0,0);
    font-size: 12px;}
    .credits {
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    }
    a:hover{
    color: purple;
    }
   
    #rowvalue {
    display: none;
    }
    #info {
    line-height: 0.8;
    border-style: ridge;
    height: auto;
    margin-bottom: 1em;
    background-color: #efefef;
    }
    //page specific css
  // font-weight: bold word-spacing: lem
#header
  img(src='https://raw.githubusercontent.com/DHoang14/cse412project/main/views/CellItToMe.png' align='middle' style='width:1300px; height:200px;')
  h1 Need a phone? Compare phone prices and plans amongst different stores, before you buy.
  #search
    
    form(action="/search", method="get")
        div(class="input")
            input#searchBar(type='text' name='searchBar' placeholder='Search...')
    
        button#bn(type="submit") Submit
    
#nav
  ul
    li
      a(href='/home') Home
      a(href='/watch') Watch List
#content
  #info

    -var model;
    -let cservices = [];
    -let stores = [];

    p Phone specifications:
   
    -var index = 0;
    for row in phoneInfo
      if (index == 0) 
        p Model:
        -model = row;
      else if (index == 1)
        p Brand:
      else if (index == 2)
        p OS:
      else if (index == 3)
        p Battery Life:
      else if (index == 4)
        p Screen Resolution:
      else if (index == 5)
        p Dimensions:
      p=row
      -index = index + 1;

    p Available Colors:
    if (colors.length)
        for row in colors
            p=row
    else 
        p None recorded

    p Carriers Available:
    if (carriers.length)
        for row in carriers
            p=row
            -cservices.push(row);
    else
        p None available
        -cservices.push('None');

    -index = 0
    p Sold At:
    if (storeInfo.length)
        for row in storeInfo
            if (index == 0)
                label Website Name:
                -stores.push(row);
            else if (index == 1)
                p Storage Space Offered:
            else if (index == 2)
                p Price:
                -index = -1;
            p=row
            -index = index + 1;

    else
        p No Recorded Stores
        -stores.push('None');
        
    form(action='/add' method="post")
        p Add to Watch List:
        div(class="input")
                input#rowvalue(type='text' name='model' value=model)
        label Carrier:
        select(name='cservices')
            each service in cservices
                option=service
        label Store:
        select(name='stores')
            each store in stores
                option=store
        input(type='submit', value='Submit')
       


#footer
  p &copy; Last updated 11/27/2021 
  p.credits  K. Markley 
  p.credits  D. Hoang
